body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

#estado-actual {
    font-weight: bold;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

/*Clase que cambia el color cuando el label dice "Agotado" o "Disponible"*/
.disponible {
    background-color: green;
  }

.agotado {
    background-color: red;
}