.botones {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre botones */
    max-width: 300px; /* Ancho */
}

.botones button {
    width: 220px; 
    padding: 14px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botones button:hover {
    background-color: #fa8080; /* Color al pasar el mouse */
}

.surtidor {
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 20px; /* espacio entre boton y label */
  margin-bottom: 10px; /* espacio entre surtidores */
}